body{

font-family:Arial;

background:#111;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.box {
    width: 90%;
    max-width: 450px;
    margin: 40px auto;
}

.box input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 14px;
    padding: 12px;
}

.telefone {
    display: flex;
    gap: 8px;
    margin-bottom: 14px;
}

.telefone #codigoPais {
    width: 65px;
}

.telefone #ddd {
    width: 70px;
}

.telefone #telefone {
    flex: 1;
}

.indentidade{
    display: flex;
    gap: 8px;
    margin-bottom: 14px;
}

.box button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}

.box a {
    display: block;
    text-align: center;
    margin-top: 15px;
}